<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275566479175-2ta1mgsadak7cr3uh9irov0l04k8nolm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275566479175-2ta1mgsadak7cr3uh9irov0l04k8nolm</string>
	<key>API_KEY</key>
	<string>AIzaSyCyw4b4S0hv5VPwEo1JhgJEnzVqBW7FrWc</string>
	<key>GCM_SENDER_ID</key>
	<string>275566479175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crewinFlutter</string>
	<key>PROJECT_ID</key>
	<string>crewin-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>crewin-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275566479175:ios:7b1c62a3996a7ba849ae62</string>
</dict>
</plist>